<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit Data</title>
    </head>
     <body bgcolor="#33d8c9">
    <center><h1>Edit Data</h1></center>
        <center><form method="post" th:object="${buku}" th:action="@{/edit}">
            <table>
                <tr>
                    <td>Id</td>
                    <td><input type="text" th:field="*{id}" /></td>
                </tr>
                <tr>
                    <td>Nama</td>
                    <td><input type="text" th:field="*{nama}" /></td>
                </tr>
                <tr>
                    <td>Judul Buku</td>
                    <td><input type="text" th:field="*{judul_buku}" /></td>
                </tr>
            </table>
            <button type="submit">Simpan</button>
        </form></center>
    </body>
</html>