<!DOCTYPE html>

<html>
    <head>
        <title>Daftar Buku</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <center><h1>Daftar Buku</h1></center>           
        <center><a href="tambah.html">Tambah Data</a><br/><br/></center>        
            <center><table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAMA</th>
                        <th>JUDUL_BUKU</th>
                        <th>ACTION</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="buku : ${daftarBuku}">
                        <td th:text="${buku.id}"></td>
                        <td th:text="${buku.nama}"></td>
                        <td th:text="${buku.judul_buku}"></td>
                        <td><a th:href="@{/hapus(id=${buku.id})}">Delete</a> - 
                            <a th:href="@{/edit(id=${buku.id})}">Edit</a></td>                        
                    </tr>
                </tbody>
        </table></center>
    </body>
</html>
