<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tambah Data</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body bgcolor="#33d8c9">
    <center><h1>Tambah Data</h1></center>
    <center>
        <form method="post" th:object="${buku}" th:action="@{/tambah}">
        <table>
            <tr>
                <td>Id</td>
                <td><input type="text" th:field="*{id}"/></td>
            </tr>
            <tr>
                <td>Nama</td>
                <td><input type="text" th:field="*{nama}"/></td>
            </tr>
            <tr>
                <td>Judul Buku</td>
                <td><input type="text" th:field="*{judul_buku}"/></td>
            </tr>
        </table>
            <button type="submit">Simpan</button>&nbsp;&nbsp;<button><a href="home.html">Kembali</a></button>
            
            
    </form>
    </center>
        
    </body>
</html>
